.author
  @extend .container
  text-align center
  borde
  
  &__image
    size 12rem
    border-radius 50%

  &__bio
    width 80%
    margin .5rem auto
    font-size 1.3rem
    font-family font-family-serif
    font-style italic
    color black-secondary-text
    
  &__link
    color deep-orange