.header
  cf()
  size 100% 80vh
  text-align center
  background url(http://thenextweb.com/conference/assets/img/bg-boost.png)
  +above('md')
    height 65vh
    
  @media (max-height: 25rem)
    height 100vh
  
  
.header__menu-toggle
  position absolute
  right 0
  margin rem(30px)
  padding rem(7px)
  size rem(50px)
  border 3px solid white
  border-radius 50%
  fill white
  
  &:hover
    background white
    cursor pointer
    fill black
  
.header__brand
  cf()
  position relative
  top 50%
  transform translateY(-50%)

.header__logo
  padding 20px
  size rem(130px)
  border rem(6px) solid white
  border-radius 50%
  +above('md')
    size rem(140px)
    border-width rem(7px)
    
  &:hover
    background white
    cursor pointer
    
    .header__logo__icon--light
      display none
      
    .header__logo__icon--normal
      display block

.header__logo__icon--light
  display block
  
.header__logo__icon--normal
  display none
  
.header__logo--light
  @extend .header__logo
  background white
  
.header__name
  margin-top rem(5px)
  font-size rem(60px)
  font-family font-family-brand
  font-weight 500
  line-height rem(60px)
  color white
  +above('md')
    margin-top rem(20px)
    font-size rem(70px)
    
.header__post-title
  @extend .container
  margin-top 1rem
  font-size 2rem
  color white-text
  +above('md')
    font-size 2.5rem
