.header
  cf()
  position fixed
  top 0
  padding rem(10px)
  size 100% 100vh
  background rgba(255,255,255,.92)
  text-align center
  background-image linear-gradient(-45deg, primary, green)
  background-image linear-gradient(-45deg, deep-orange, orange)
  
.header__logo
  cf()
  position relative
  margin 0 auto
  display inline-block
  size rem(80px)
  
.header__name
  display inline-block
  float left
  font 400 rem(24px) font-family-sans
  text-align left
  line-height rem(70px)

.header__menu-toggle
  padding rem(7px)
  margin-top 15px
  float right
  size rem(50px)
  border 3px solid black
  border-radius 50%
  fill black
  
  &:hover
    background black
    cursor pointer
    fill white
    border-color white
  
  