.site-intro 
  padding rem(60px) 0
  text-align center
.site-intro:after
  width 20px
  height 30px
  background red
  
// .site-intro__heading
//   margin 0
//   font-size rem(36px)
//   font-weight 700
//   font-family font-family-sans
//   background blue
//   position relative
//   display block
//   &:after
//     background red
//     display block
