<div class="header">
  <div class="header__line"></div>

  <svg class="header__menu-button"><use xlink:href="#icon-menu"></use></svg>
  
  <div class="container">
    <!-- <svg class="menu__button"><use xlink:href="#icon-menu"></svg>     -->
    <div class="header__brand">
      <svg class="header__icon"><use xlink:href="#icon-cenoura"></use></svg>
      <div class="header__name">cenoura</div>
      <svg class="header__icon--left"><use xlink:href="#icon-cenoura"></use></svg>
    </div>
    
    <h2 class="header__tagline">Be awesome. Cenoura up!</h2>

    <div class="header__cover">
      <img src="assets/img/general/hero-cover.jpg">
    </div>
  </div>
</div>

<div class="offcanvas">
  hey
</div>

