<!-- <header class="header">
  <div class="container">
    <svg class="header__logo"><use xlink:href="#icon-cenoura-light"></use></svg>
    <svg class="header__menu-toggle"><use xlink:href="#icon-menu"></use></svg>
  </div>
</header>
 -->

 <div class="test">
    <svg class="test__superlogo"><use xlink:href="#icon-cenoura-circle-light"></use></svg>
  
    <svg class="test__logo"><use xlink:href="#icon-cenoura-light"></use></svg>
    <div class="test__name">Cenoura</div>
    <svg class="test__logo"><use xlink:href="#icon-cenoura-light"></use></svg>
    <!-- <span class="test__tagline">Be awesome! Cenoura Up</span> -->
 </div>