<header class="header">
  <svg class="header__menu-toggle"><use xlink:href="#icon-menu"></use></svg>

  <div class="header__brand">
    <a href="/">
<!--       <svg class="header__logo">
        <use class="header__logo__icon--light" xlink:href="#icon-cenoura-light"></use>
        <use class="header__logo__icon--normal" xlink:href="#icon-cenoura"></use>
      </svg> -->

      <svg class="header__logo--light"><use xlink:href="#icon-cenoura"></use></svg>

    </a>
  
    <div class="header__name">
      Cenoura
    </div>
  </div>
</header>