.article
  padding rem(70px) 0
    
.article__title
  @extend .container
  margin 0 auto
  font-size 2.375rem
  font-weight 900
  a
    color black-text
    text-decoration none
    &:hover
      color deep-orange
    
.article__date
  @extend .container
  margin-top .65rem
  margin-bottom .65rem
  display block
  font-size rem(14px)
  font-family font-family-serif
  font-style italic
  font-weight 500
  color deep-orange
  
  &:after
    content ''
    position relative
    left rem(5px)
    bottom rem(3px)
    display inline-block
    width rem(100px)
    height rem(2px)
    background deep-orange
    
  
.article__read-more
  text-align right
  a
    background-clip padding-box
    border-radius rem(100px)
    display inline-block
    font-size .85rem
    font-weight 700
    font-family font-family-sans
    letter-spacing 1px
    line-height 1em
    padding 1rem 3rem
    text-transform uppercase   

    border-color transparent
    background-image linear-gradient(-108deg, accent, green)
    color white
    &:hover
      background-image linear-gradient(-108deg, red, deep-orange)
      border-color transparent
      color white

.article__tags
  @extend .article__read-more
  text-align left
  a
    outline 0
    margin-bottom 7px
    background rgba(255,255,255,0)
    padding .5rem 1.5rem
    color #bfbfbf
    border 2px solid #d0d0d0
    &:focus
      outline 0
      
.article__separator
  @extend .container
  margin 3rem auto
  height rem(2px)
  background deep-orange
  text-align center
  
.article__separator__logo
  position relative
  transform translateY(-50%)
  size rem(40px)
  padding rem(5px)
  border-radius 50%
  border 2px solid deep-orange
  background deep-orange
      
.article__comments
  @extend .container
  
  h3  
    margin-top 0
    margin-bottom 1.4rem
    font-weight 700
    font-size 1.75rem

    
.article__content
  h1
  h2
  h3
  h4
  h5
  h6
    @extend .container
    margin-top 2rem
    margin-bottom 1.4rem
    font-weight 900
    font-family font-family-serif
    
  h2
    font-size 2rem
    
  h3
    font-size 1.75rem
    
  h4
    font-size 1.6rem
    
  h5
    font-size 1.45rem
  
  h6
    font-size 1.35rem

  p
    @extend .container
    margin-bottom 1.25rem
    font-family font-family-sans
    font-family font-family-serif
    font-size 1.3rem
    font-weight 300
    line-height 2.4rem
    color black-text
    
  a
    text-decoration underline
    
  code
    color deep-orange
        
  pre
    width 100%
    margin 1.75rem 0
    padding 2.5rem
    background #2d2d2d
    color grey-50
    
    > code
      @extend .container
      font-family font-family-monospace
      line-height 1.3rem
      color grey-50
      
  ul
    @extend .container
    @extend .article__content p
    padding-left 1.5rem
    
    li
      padding-bottom 0.5rem
      
  img
    margin 1.875rem auto
    display block