.post-item
  cf()
  col(1/1)
  padding rem(70px) 0
  
.post-item__title
  margin 0
  font-size 2.375rem
  color black-text
  &:hover
    color deep-orange
    
.post-item__date
  margin rem(10px) 0
  display block
  font-size rem(14px)
  font-family font-family-serif
  font-style italic
  color deep-orange
  
  &:after
    content ''
    position relative
    left rem(5px)
    bottom rem(3px)
    display inline-block
    width rem(100px)
    height rem(2px)
    background deep-orange
    
.post-item__description
  font-family font-family-sans
  font-size 1.25rem
  font-weight 300
  color black-text
  
.post-item__separator
  border-color grey-300  

.post-item__read-more
  text-align right
  a
    background-clip padding-box
    border-radius 100px
    display inline-block
    font-size .85rem
    font-weight 700
    font-family font-family-sans
    letter-spacing 1px
    line-height 1em
    padding 1rem 3rem
    text-transform uppercase
    

    border-color transparent
    background-image linear-gradient(-108deg, accent, green)
    color white
    &:hover
      background-image linear-gradient(-108deg, red, deep-orange)
      border-color transparent
      color white

.post-item__tags
  @extend .post-item__read-more
  text-align left
  a
    background rgba(255,255,255,0)
    padding .5rem 1.5rem
    color #bfbfbf
    border 2px solid #d0d0d0
    