.separator
  @extend .container
  margin 3rem auto
  height rem(2px)
  background deep-orange
  text-align center
  
.separator__logo
  position relative
  transform translateY(-50%)
  size rem(40px)
  padding rem(5px)
  border-radius 50%
  border 2px solid deep-orange
  background deep-orange
