.share
  @extend .container
  margin-top 2.5rem
  margin-bottom 3rem
  text-align center
  
  a
    margin-bottom .5rem
    margin-left .5rem
    background-clip padding-box
    border 2px solid transparent
    border-radius rem(100px)
    display inline-block
    font-size .85rem
    font-weight 700
    font-family font-family-sans
    letter-spacing 1px
    line-height 1em
    padding .6rem 2rem
    text-transform uppercase   
    color white
    &:hover
      background-image linear-gradient(-108deg, red, deep-orange)
      border-color transparent
      color white
      
    &:first-child
      margin-left background blue !important
      
  .share__twitter
    border-color #53abee
    color #53abee
    &:hover
      background url(../img/general/orange-background.png)

  .share__facebook
    border-color #3b5998
    color #3b5998
    &:hover
      background-image linear-gradient(-108deg, #3b5998, darken(#3b5998, 15%))
      background-image linear-gradient(-108deg, red, deep-orange)
      background url(../img/general/orange-background.png)

  .share__google
    border-color #dc4335
    color #dc4335
    &:hover
      background-image linear-gradient(-108deg, #dc4335, darken(#dc4335, 15%))
      background-image linear-gradient(-108deg, red, deep-orange)
      background url(../img/general/orange-background.png)
