// .header
//   @extend .clearfix
//   padding-top rem(20px)
//   height 50vh
//   text-align center
  
// .header__line
//   size 100% 5px
//   position absolute
//   top 0
//   background accent
  
// .header__name
//   padding 0 rem(16px)
//   font 300 rem(60px) font-family-brand
//   text-transform uppercase
//   color black-text
  
// .header__icon
//   position relative
//   top 12px
//   size rem(70px)
//   transform rotate(270deg)
  
// .header__icon--left
//   @extend .header__icon
//   transform rotate(90deg)
    
// .header__brand *
//   display inline-block

// .header__tagline
//   font 100 rem(25px) font-family-sans
  
// .header__menu-button
//   position absolute
//   left 5%
//   size rem(48px)
//   padding rem(5px)
//   border-radius 50%
//   border 4px solid primary
//   fill primary
//   &:hover
//     cursor pointer
//     background primary
//     fill white